{% extends 'layout.html' %}
 
{% block content %}


<div class="contents">
    <div class="contents-left">
        <h2 class="contents-title">
            イベント・ニュース
        </h2>
        <img src="/static/img/ " alt="">
    </div>
    <div class="contents-middle">
        <h2 class="contents-title">
            みんなのワイワイ掲示板
        </h2>
        <img src="/static/img/ " alt="">
    </div>
    <div class="contents-right">
        <h2 class="contents-title">
            お宝映像・写真
        </h2>
        <img src="/static/img/ " alt="">
    </div>

</div>

 
{% endblock %}
